[submodule "external/SDL_tty"]
	path = external/SDL_tty
	url = https://github.com/Grumbel/SDL_tty.git
[submodule "external/tinycmmc"]
	path = external/tinycmmc
	url = https://github.com/grumbel/tinycmmc.git
